<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poketime</title>
    <link rel="stylesheet" href="../../public/css/dict_style.css" />
  </head>
  <body>
    <!-- <div id="sky_background">
      <img src="../../public/images/sun.png" id="sun" />
    </div>
    <div id="background"></div>
    <div>
      <img src="../../public/images/tree.png" id="tree" />
      <img src="../../public/images/pika.svg" id="pikachu" />
      <img src="../../public/images/gugu.svg" id="gugu" />
      <img src="../../public/images/grass.png" id="grass" alt="" />
      <img src="../../public/images/grass.png" id="grass2" alt="" />
    </div> -->
    <div class="sub_container">
      <div class="skyblue_circle" id="skyblue_top_circle"></div>
      <div class="skyblue_circle" id="skyblue_bottom_circle"></div>
      <div class="blue_circle" id="blue_top_circle"></div>
      <div class="blue_circle" id="blue_bottom_circle"></div>

      <nav>
        <ul>
          <li>
            <a href="#">
              <img
                src="../../public/images/setting_img.svg"
                id="start_setting"
              />
            </a>
            <ul>
              <li><a href="/setting">Setting</a></li>
              <li><a href="/user/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <img src="../../public/images/bell_icon.png" class="bell_icon" />
      <img
        src="../../public//images/home_icon.svg"
        class="home"
        onclick="location.href = '/mainpage'"
      />

      <div class="overlay">
        <div class="popup">
          <span class="current_point"></span>
        </div>
      </div>
      <a href="./mainpage" class="btn_back">< 뒤로</a>
      <div class="dict_box" id="top_box">
        {{ userInfo.poke_count }}개의 포켓몬을 수집했어요!
      </div>
      <div>
        <form>
          <div id="search_bar">
            <input
              type="text"
              id="search_name"
              placeholder="포켓몬 이름 검색"
            />
            <input type="submit" id="search_btn" value="" />
          </div>
        </form>

        <div id="data-container"></div>
        <div id="pagination"></div>
        <div id="myModal" class="modal">
          <span class="close">&times;</span>
          <img class="modal-content" id="modalImage" />
          <div id="caption"></div>
          <div id="modalButtons" class="modal-buttons"></div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../../public/js/dict.js"></script>
    <script src="../../public/js/notice.js"></script>
  </body>
</html>
