<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notice</title>
    <link rel="stylesheet" href="../../public/css/notice.css" />
</head>
<body>
    <img src="../../public/images/bell_icon.png" class="bell_icon">


    <div class="overlay">
        <div class="popup">
          <span class="current_point"></span>
        </div>
      </div>
    
      <script src="../../public/js/notice.js"></script>
</body>
</html>